body{
    margin: 0px;
}
ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}

.mainButton{
    background-color: #1bb76e;
    color:white;
   
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder;
    

}
.mainButton:hover{
    cursor: pointer; /*para que por encima */
    box-shadow: 2px 2px pink;
    transform: scale(1.1);
}
