body{
  all: initial;
}

.ulNavbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

li{
  list-style: none;
}

.navbar{
  padding: 0.2rem;
  /*align-items: center;*/
  justify-content: space-between;
  background-color: #ff9500;
}


button{
  border:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  border-radius: 0.1rem;
  padding: 0.5rem;
  background-color: #ff950000;
  
}

button:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.logoDiv{
  display: flex;
}

.logoImg{
  object-fit: fit;
  width: 2rem;
}

.logoDiv > a{
  width:2rem;
}

.inputsDiv{
  
  box-shadow: #ff9500;
  display: flex;
  flex-direction: column;    
  text-align: center;
  justify-content: space-between;
  
  
}

.form{
  padding-bottom: 1rem;
}

.input{
  border-radius: 0.2rem;   
  padding:0.2rem;
  margin: 0.5rem;
}

.divLogin{
  
  border-radius: 1rem;
  display: grid;
  width: 100vh;
  justify-content: center;
  text-align:center;
  background-color: aliceblue;
  margin: 1rem;
  
}
h2{
  margin: top 0.83em;
  

}
.tituloMenu{
  text-align: center;
}
.sectionIndex{
  text-align: center;
}

main{
  display: flex;
  align-items: self-start;
  justify-content: center;
  overflow-y: scroll;
  height: 100vh;;
}
footer{
  display:flex;    
  justify-content: space-between;    
  flex-direction: row;
  background-color: #ff9500;
  padding: 10px;
  position:static;
  bottom: 0;
}

.card img {
  width: 100%;
  height: auto;
}

.row{
  text-align: center;
}

.card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.card .card-description {
  margin-top: 5px;
}

.titleMP{
  text-align: center;
}

.card-counter{
  justify-content: center;

  
  padding: 0.1rem;
  text-align: center;
}

.card {
  border: 0.1rem solid #00000060;
  background-color: #ff9500ce;
  
  border-radius: 4px;
  padding: 10px;
  width: 50rem;
  margin: 1rem;
  text-align: center;
}

.breedCardConteiner{
  
  display: flex;
  flex-direction: column;

}

/**/

.container-icon{
  position: relative;
}

.count-products{
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos{
  font-size: 12px;
}

.container-cart-products{
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #fcfcfcd3;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  
}

.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito{
  font-size: 20px;
}

.precio-producto-carrito{
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito{
  font-weight: 400;
  font-size: 20px;
}

.icon-close{
  width: 25px;
  height: 25px;
}

.icon-close:hover{
  stroke: red;
  cursor: pointer;
}

.cart-total{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3{
  font-size: 20px;
  font-weight: 700;
}

.total-pagar{
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart{
  display: none;
}

.btn-clear-all{
  border:none;
  background-color: #ee0303c9;
  font-weight: bolder;
  color:black;
  padding: 15px 0;
  width: 100%;
  margin-top : 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: inherit;
  cursor:pointer;
  font-size:16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #fc0000ec;
}